<h1><%= @country.continent %></h1>
<h2><%= @country.name %></h2

<ul>
  <% @country.cities.each do |city| %>
  <li>
    <p><%= city.name %></p>
  </li>
  <% end %>
</ul>
<a href="/countries/<%= @country.id %>/edit"><input type="submit" value="Edit Country"></a>


<form method="post" action="/countries/<%= @country.id %>/delete">
  <input type="submit" value="Delete Country"/>
</form>
